@using Context.ViewModels;
@model EventVM
@{
    ViewData["Title"] = "Add Event";
}

<body>
    <form method="post" asp-action="Create">
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" type="text" class="form-control" placeholder="Enter Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <br />

        <div class="form-group">
            
            <label asp-for="SelectedProducts">Products</label>
            <select asp-for="SelectedProducts" multiple>
                @foreach (var item in Model.allProducts)
                {
                    <option value="@item">@item.ProductName</option>
                }
            </select>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="SelectedSneakers" mbsc-input id="my-input" data-dropdown="true" data-tags="true">Sneakers</label>
            <select id="multiple-select" asp-for="SelectedSneakers">
                @foreach (var item in Model.allSneakers)
                {
                    <option value="@item">@item.Name</option>

                }
            </select>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>