@using Context.Data.Enum;
@using Context.ViewModels;
@model ProductVM
@{
    ViewData["Title"] = "Add";
}

<body>
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="ProductName">ProductName</label>
            <input asp-for="ProductName" type="text" class="form-control" placeholder="Enter Name">
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="ProductCategory">Company</label>
            <select asp-for="ProductCategory" asp-items="@Html.GetEnumSelectList<ProductCategory>()">
                <option> - - select - - </option>
            </select>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="Size">Size</label>
            <input asp-for="Size" type="text" class="form-control" placeholder="Size">
            <span asp-validation-for="Size" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="Count">Count</label>
            <input asp-for="Count" type="number" class="form-control" placeholder="Count">
            <span asp-validation-for="Count" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" type="number" class="form-control" placeholder="Price">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <br />
        <br />
        <div class="form-group">
            <label asp-for="Image">Image</label>
            <input asp-for="Image" type="file" class="form-control" placeholder="Image">
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>