@{
    ViewData["Title"] = "Phone Number";
}

<body>
    <form method="post" asp-action="AddPhoneNumber" enctype="multipart/form-data">
        <div class="form-group">
            <label >Phone number : +98 ..........</label>
            <input name="PhoneNumber" type="text" class="form-control" placeholder="Enter Phone Number">
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>