@{
    ViewData["Title"] = "Phone Number";
}

<body>
    <form method="post" asp-action="EmailConfirmation" enctype="multipart/form-data">
        <div class="form-group">
            <label>Enter The Code</label>
            <input name="Code" type="text" class="form-control" placeholder="Enter The Code">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>