
@{
    ViewData["Title"] = "Home Page";
}
<body>

    <a asp-controller="Sneaker" asp-action="Index"><img style="margin-left:300px;margin-top:100px;width:100px;" src="icons/sneaker.png" /></a>
    <a asp-controller="Upperbody" asp-action="Index"><img style="margin-left:300px;margin-top:100px;width:100px;" src="icons/product.png" /></a>
</body>